.category-name {
    font-family: "MuseoSans",Arial,Helvetica,sans-serif;
    font-size: 16px;
}

.brand-logo {
    font-weight: 600;
}

.header {
    font-family: "MuseoSans",Arial,Helvetica,sans-serif;
    text-transform: uppercase;
}

.catalogue {
    text-transform: none;
}